@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
   font-size: 16px;
   color: #465b52;
   margin: 15px 0 20px 0; 
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

.container{
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    box-shadow:0 20px 35px rgba(0, 0, 1, 0.9) ;
    border-radius: 10px;
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size: 1.5em; 
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

input{
    color:inherit ;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}

.input-group{
   padding: 1% 0;
   position: relative;

}

.input-group i{
    position: absolute;
    color: black;
}

 input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
 }

 input::placeholder{
    color: transparent;

 }
 label{
    color: #757575;
    position: relative;
    left: 1.2rem;
    top: -1.3rem;
    cursor: auto;
    transition: 0.3s ease all;
 }

 input:focus~label,input:not(:placeholder-shown)~label{
    top: -3em;
    color:hsl(327, 90%, 28%) ;
    font-size: 15px;

 }

 .bth{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color:rgb(125, 125, 235) ;
    color: white;
    cursor: pointer;
    transition: 0.9s;
 }

 .bth:hover{
    background: #07001f;
 }

 .icons{
    text-align:center ;
 }

 .icons i{
    color: rgb(125, 125, 235);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
 }

 .icons i:hover{
    background: #07001f;
    font-size: 1.6rem;
    border: 2px solid rgb(125, 125, 235);
 }

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:sticky ;
    top :0;
    left: 0;
}
.logo{
    width:70px;
    height:70px;
    border-radius: 50%;
}

.cart{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a.active,
#navbar li a:hover{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:30% ;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#hero{
    background-image: url("model3.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url(button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size:15px ;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0 ;
    transition: 0.2s ease;
    position: relative;
    flex-basis: 30%; 
    margin: 1%;
}

#product1 .pro :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;
}


#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding:10px 0 ;

}

#product1 .pro .des span{
    color:#606063 ;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top:7px ;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .Cart{
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   background-color: #e8f6ea;
   font-weight: 500;
   color: #088178; 
   border: 1px solid #cce7d0;
   position: absolute;
   bottom: 20px;
   right: 10px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("b14.png");
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {

    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button{
    background-color:#088178 ;
    color: #fff;
    white-space: nowrap;
   padding: 17px;
   border-radius: 4px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}  





footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;

}

footer .follow{
   color: #465b52;
   padding-right: 4px;
   cursor: pointer;

}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#page-header{
    background-image: url("b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 ,
#page-header p{
    color: #fff;
}

#prodetails{
    text-align: center;
}

#prodetails .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    flex-wrap: wrap;
}

#prodetails .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0 ;
    transition: 0.2s ease;
    position: relative;
    flex-basis: 30%; 
    margin: 1%;
}

#prodetails .pro :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;
}


#prodetails .pro img{
    width: 100%;
    border-radius: 20px;
}

#prodetails .pro .des{
    text-align: start;
    padding:10px 0 ;

}

#prodetails .pro .des span{
    color:#606063 ;
    font-size: 12px;
}

#prodetails .pro .des h5{
    padding-top:7px ;
    color: #1a1a1a;
    font-size: 14px;
}

#prodetails .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#prodetails .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#prodetails .pro .Cart{
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   background-color: #e8f6ea;
   font-weight: 500;
   color: #088178; 
   border: 1px solid #cce7d0;
   position: absolute;
   bottom: 20px;
   right: 10px;
}

#produtdet{
    display: flex;
    margin-top: 20px;
}
#produtdet .single-pro-image{
   width: 40%;
   margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;

}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin: 3px;
}

#produtdet .single-pro-details{
    width: 50%;
    padding-top: 30px;
}


#produtdet .single-pro-details h4{
   padding: 40px 0 20px 0 ;
}

#produtdet .single-pro-details h2{
    font-size: 26px;

 }


 #produtdet .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
 }

 #produtdet .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

 }
 #produtdet .single-pro-details input:focus{
    outline: none;
 }

 #produtdet .single-pro-details button{
    background: #088178;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #cce7d0;
    font-size: 15px; 
    padding: 10px 20px; 
    width: auto; 
    height: auto;
    border-radius: 5px; 
    cursor: pointer;
 }

 #produtdet .single-pro-details span{
    line-height: 25px;
 }

 #page-header .about-header{
    background-image: url("b2.jpg");
 }

 #about-head{
    display: flex;
    align-items: center;
 }

 #about-head img{
    width: 50%;
    height: auto;
 }


 #about-head div{
    padding-left:40px ;
 }


 
 #form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
 }


 #form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }


 #form-details form span{
    font-size: 12px;
 }


 #form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
 }

 #form-details form input,
 #form-details form textarea
 {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
 }


 #form-details form button{
    background-color: #088178;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
 }

@media (max-width:977px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }
    
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    
    #close{
        display: initial;
        position: absolute;
        font-size: 24px;
        top: 30px;
        left: 30px;
        color: #222;
    }
    
    #lg-bag{
        display: none;
    }

    #hero {
       
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
       
    }

    #product1 .pro-container {
       
        justify-content: center;
        
    }


    #product1 .pro {
        margin: 15px;
    }

    #newsletter .form{
     width: 70%;
    }
}

@media (max-width: 477px) {

    #header {
        padding: 10px 30px;
    }
    
    h2 {
        font-size: 28px;
        
    }

    h1 {
        font-size: 30px;
        
    }

    #hero {
       
        padding: 0 20px;
        background-position: 55%;
    }

    #product1 .pro {
        width: 100%;
    }
     
    #newletter {
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
       }

    footer .copyright {
       
        text-align: start;
    }   
}
